/* color palette from <https://github.com/vuejs/theme> */
:root {
  --cyan: hsl(198, 99%, 37%);
  --blue: hsl(221, 87%, 60%);
  --purple: hsl(301, 63%, 40%);
  --green: hsl(119, 34%, 47%);
  --light-green: hsl(119, 34%, 90%);

  --red: hsl(5, 74%, 59%);
  --red2: hsl(344, 84%, 43%);

  --orange: hsl(41, 99%, 30%);
  --orange2: hsl(41, 99%, 38%);

  --bg: hsl(230, 1%, 98%);
  --text-color: hsl(230, 8%, 24%);
  --gray: hsl(230, 8%, 47%);
  --border-color: hsl(230, 8%, 24%, 20%);
  --accent: hsl(230, 100%, 60%);

  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);
}

/* semantic color variables for this project */
:root {
  --color-background: hsl(230, 1%, 98%);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--text-color);
  background: var(--bg);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: "JetBrains Mono", monospace;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
